/* Your Website Styles */
/* https://color.adobe.com/Java-color-theme-2749847/ */

/* Set Your Own Margin & Padding */
h2, h3, p {
    margin: 0;
}

/* Layout for Style Tile*/
section {
    margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
    border: 1px solid #000;
    float: left;
    margin: 0 10px;
    height: 50px;
    width: 50px;
}

/* Show Grid */
.showgrid {
    background: url("../img/grid-bg.png") repeat-y;
}

/* Changes the site background */
body {
    background-image: url("../img/grey.png");
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/* Sets font for text on page */
p {
    display: block;
    font-size: 1em;
    max-width: 40em;
}

a {
    text-decoration: none;
    color: #f5e1d8;
}

li {
    list-style: none;
}

ul {
    margin-top: 10px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #f5e1d8;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: #644c4c;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: #e6d4cc;
}

/* Style for my name */
header p {
    font-weight: 900;
    padding: 1em 0 0 1em;
    font-size: 2.5em;
    margin-top: 1em;
    margin-left: 2.500em;
    color: #f5e1d8;
}

section p {
    color: #e0e0d8;
    font-family: 'Inconsolata';
}

/* Style for header/bg behind my name */
header {
    background: #644c4c;
    width: 100%;
    height: 9.375em;
    margin: -.313em -1.875em;
    border-radius: .5em;
}

/* Style for subheadings */
section.grid_4 > p:first-child,
section.grid_12 > p:first-child {
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 1.250em;
    margin-bottom: 0;
    color: #644c4c;
    text-transform: uppercase;
}

section.grid_12 > p:first-child {
    margin-left: 13em;
}

section.grid_12 p {
    margin-left: 18.5em;
}

p div p {
    font-size: 1em;
    color: #e0e0d8;
}

/* Formats the footer */
footer p {
    font-size: .625em;
    padding-left: 12.5em;
}

div section ul {
    margin-top: -1em;
}

div section ul li {
    font-family: 'Inconsolata';
    font-weight: 400;
    color: #e0e0d8;
    margin-left: -.5em;
}

a[href$="mailto:"] {
    color: #f5e1d8;
}

a:hover {
    color: #000000;
}

img[alt="My Logo"] {
    margin-left: 18.125em;
}

section.grid_5:nth-child(3) {
    margin-left: 2.5em;
}

section div.grid_4.pad {
    margin-left: 13.125em;
}

/*
* IDs *
*/

/* Style for bg of content */
#main {
    height: 100%;
    padding: .313em 1.875em .938em 1.250em;
    margin-top: -.313em;
    margin-right: -1.875em;
    width: 55.625em;
    background: #9a968b;
    border-radius: 0 0 1em 1em;
}

#contact {
    position: absolute;
    top: 1.875em;
    left: 60%;
    width: 14.688em;
    margin: 0 1.25em .625em 0;
    color: #f5e1d8;
}

#contact p {
    float: right;
    padding: 0;
    margin: 0;
}

#contact p:first-child {
    padding-top: 2.5em;
}

/* Picture Styles */
#profilepicture {
    max-height: 38.750em;
    display: inline;
    border-radius: 10%;
    padding: 1.563em 0 0 .935em;
    margin-top: -4.375em;
    margin-left: 0;
}

#email {
    color: #000000;
}

/*
* Classes *
*/

/* Style for text of main content on page */
.content {
    margin-top: 1.063em;
    font-size: 1em;
    text-indent: .625em;
    padding-left: 35px;
    color: #e0e0d8;
}

.link {
    padding-top: .313em;
}

.linkimage {
    width: 5%;
    height: auto;
}

/* Show Grid */
.showgrid {
    background: url("../img/grid-bg.png") repeat-y;
}

.first {
    margin-left: 2.5em;
}

div p.sub {
    margin-left: 1em;
    font-size: 1.1em;
    color: #e6d4cc;
    font-weight: 500;
    text-transform: none;
}

div.grid_2 {
    margin-right: 1em;
}

div.grid_5 {
    margin-bottom: 0em;
}

section.grid_4 p {
    margin-top: .25em;
    margin-left: 1em;
}

div.grid_5 p + p {
    margin-left: 2em;
    margin-top: -.75em;
    font-family: 'Inconsolata';
    font-weight: 400;
}

p.grid_5.description {
    max-width: 40em;
    margin-left: 2em;
    margin-top: -.5em;
    margin-bottom: 1em;
    font-family: 'Inconsolata';
    font-weight: 400;
}

div#main section.grid_4:nth-child(4) {
    margin-top: -21em;
}

section.grid_4 div.grid_4 p.grid_2.sub {
    margin-top: 1em;
    margin-right: 0em;
}

section.grid_4 div.grid_4 div.grid_2 {
    margin-top: .5em;
    margin-right: 0em;
    font-family: 'Inconsolata';
}

section.grid_12 p:last-child {
    font-family: 'Inconsolata';
    font-weight: 400;

}

div.grid_12 > p.grid_6 ~ em.grid_5 {
    margin-top: 2.6em;
    margin-left: 2em;
}

.pattern-1 {
    background: url("../img/grey.png") no-repeat;
}

.pattern-2 {

}

.pattern-3 {

}

.color-1 {
    background: #644c4c;
}

.color-2 {
    background: #9a968b;
}

.color-3 {
    background: #e0e0d8;
}

/* Portfolio */
a {
    text-decoration: none;
}

/* EFFECTS
===================================================== */
.roundedCorners {
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.roundedCornersTop {
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.roundedCornersBottom {
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.boxShadow {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

/* LAYOUT
===================================================== */
.wrapper {
    width: 600px;
    margin: 20px auto;
}

.top {
    width: 100%;
    min-height: 300px;
    padding: 20px 0;
    text-align: center;
}

.footer {
    width: 96%;
    padding: 2%;
    background: #222;
    border-top: solid 3px #086FA1;
}

/* GALLERY
===================================================== */
a {
    text-decoration: none;
}

/* EFFECTS
===================================================== */
.roundedCorners {
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.roundedCornersTop {
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.roundedCornersBottom {
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.boxShadow {
    -webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

/* LAYOUT
===================================================== */
.wrapper {
    width: 600px;
    margin: 20px auto;
}

.top {
    width: 100%;
    min-height: 300px;
    padding: 20px 0;
    text-align: center;
}

.footer {
    width: 96%;
    padding: 2%;
    background: #222;
    border-top:
    solid
    3px
    #086FA1;
}

/* GALLERY
===================================================== */
.galleryItem {
    display: inline-block;;
    position: relative;
    width: 250px;
    height: 250px;
    padding: 0;
    margin: 0 20px;
    border: solid 10px #fff;

    -webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.galleryItem img {
    width: 250px;
    height: 250px;
}

.caption {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 250px;
    z-index: 10;
}

.caption::before {
    content: attr(data-title);
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 0;
    font-family: 'Croissant One', cursive;
    font-size: 1.8em;
    font-weight: 600;
    line-height: 1.4em;
    color: #086FA1;
    background: #fff;
    overflow: hidden;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.caption::after {
    content: attr(data-description);
    position: absolute;
    bottom: -0;
    left: 0;
    width: 250px;
    height: 0;
    font-family: 'Poiret One', cursive;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.4em;
    color: #fff;
    background: #222;
    overflow: hidden;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.caption:hover::before {
    height: 125px;
}

.caption:hover::after {
    bottom: 0;
    height: 125px;
}